.form-container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  padding: 10px 20px;
  transform: translate(-50%, -50%);
  font: normal small-caps normal 34px "playfair display", serif; /*style caps varient size/line-height font*/
  background-color: rgb(255, 253, 253);
}
.login-heading {
  color: rgb(88, 86, 86);
  margin: 10px auto;
}
