#home-container {
  display: flex;
  justify-content: center;
}
.container-left {
  width: 40%;
  height: 95vh;
  background-image: url(../Assets/bck6.jpeg);
  background-position-y: -100px;
  background-size: cover;
}
.container-right {
  width: 40%;
  height: 95vh;
  background-color: #c1f0f0;
  text-align: left;
  padding-left: 5%;
  font: normal small-caps normal 68px/0.5 "playfair display", serif; /*style caps varient size/line-height font*/
  font-weight: 500;
  color: #292f2f;
  box-sizing: border-box;
}
