.login-field,
.addproduct-field {
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  border: none;
  background: #e4e0e0;
  box-sizing: border-box;
  opacity: 0.6;
  font-size: 20px;
}
.login-field:focus {
  border: 2px solid rgb(173, 228, 210);
  outline: none;
}
